---
const { name, title } = Astro.props;
---
<div class="profile-header">
    <img src="https://scontent.fmnl9-6.fna.fbcdn.net/v/t39.30808-6/462757496_3211271869003858_6313787150842617827_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEvM9NJ5Zlx7ezmmTOFRDWDYNo1cunY6-5g2jVy6djr7knT6JQFoFN01rtRxF-bJy8cXoUAFy-VL9BBeszGbJwj&_nc_ohc=V0HDjkmv174Q7kNvgGpNYiw&_nc_zt=23&_nc_ht=scontent.fmnl9-6.fna&_nc_gid=AXduj6thWEviTpsHm9oJQ_Q&oh=00_AYBsiIChNICxuKv54bszbzcedgWU09rw74-jU7jWXEZliw&oe=676170BB" alt="Profile Picture" class="avatar" />
    <div class="profile-info">
        <h1>{name}</h1>
        <p>{title}</p>
    </div>
</div>

<style>
    .profile-header {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        background: rgba(var(--accent-dark), 0.3);
        border-radius: 1rem;
    }
    .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid rgb(var(--accent-light));
    }
    .profile-info h1 {
        font-size: 2.5rem;
        margin: 0;
    }
    .profile-info p {
        color: rgb(var(--accent-light));
        margin: 0.5rem 0;
    }
</style>
